{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
<div class="partie1">
    <div class="explication">
        <h1 class="titre">Collaboration</h1>
        <p> Cet espace vous permet de trouver facilement un ou plusieurs partenaires pour vous associer ensemble.</p>
        <p> Le but: créer de plus gros projets avec des compétences transverses. 
        Vous pourrez échanger, partager, mais aussi gagner en productivité.
        </p>
        <a href="{{ path('offre_new') }}">Create new</a>
    </div>
</div>
<div>
    <h2 class="titre">Offres</h2>
    <ul>
        {% for offre in offres %}
        <li>
            <a href="{{ path('offre_show', {'id': offre.id}) }}">
                <h3>{{ offre.nom }}</h3>
                <p>{{ offre.sommaire }}</p>
            </a>
            {#<a href="{{ path('offre_edit', {'id': offre.id}) }}">edit</a>#}
        </li>
        {% else %}
        <li>
            <p colspan="5">no records found</p>
        </li>
        {% endfor %}
    </ul>
</div>    
    {% endblock %}
    