{% extends 'base.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}
    <h1>Offre</h1>

    <div class="table">
        <ul>
            <li>
                <p>Nom</p>
                <p>{{ offre.nom }}</p>
            </li>
            <li>
                <p>Detail de l'offre</p>
                <p>{{ offre.sommaire }}</p>
            </li>
            <li>
                <p>Delai de Livraison</p>
                <p>{{ offre.tempsDeLivraison }}</p>
            </li>
        </ul>
    </div>

    <a href="{{ path('offre_index') }}">back to list</a>

    <a href="{{ path('offre_edit', {'id': offre.id}) }}">edit</a>

    {{ include('offre/_delete_form.html.twig') }}
{% endblock %}
