{% extends 'base.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}

<h2>{{ offre.nom }}</h2>

<h5>
{% for key, collaboration in offre.collaborations %}
    {% if key != 0 %}
    , {{ collaboration.freelancer.username }}
    {% else %}
    par {{ collaboration.freelancer.username }}
    {% endif %}
{% endfor %}
</h5>

<p>{{ offre.sommaire }}</p>
<h3>Delai de Livraison</h3><h4>{{ offre.tempsDeLivraison }}</h4>
<h3>prix</h3><h4>{{ price }}€</h4>
    {#<a href="{{ path('offre_edit', {'id': offre.id}) }}">edit</a>#}

{% endblock %}
