{% extends 'base.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}

<<<<<<< HEAD
    <div class="table">
        <ul>
            <li>
                <p>Nom</p>
                <p>{{ offre.nom }}</p>
            </li>
            <li>
                <p>Detail de l'offre</p>
                <p>{{ offre.sommaire }}</p>
            </li>
            <li>
                <p>Delai de Livraison</p>
                <p>{{ offre.tempsDeLivraison }}</p>
            </li>
        </ul>
    </div>
=======
<h2>{{ offre.nom }}</h2>
>>>>>>> e8b94fc572b3a671d02fa197063648ba65ab0a97

<h5>
{% for key, collaboration in offre.collaborations %}
    {% if key != 0 %}
    , {{ collaboration.freelancer.username }}
    {% else %}
    par {{ collaboration.freelancer.username }}
    {% endif %}
{% endfor %}
</h5>

<p>{{ offre.sommaire }}</p>
<h3>Delai de Livraison</h3><h4>{{ offre.tempsDeLivraison }}</h4>
<h3>prix</h3><h4>{{ price }}€</h4>
    {#<a href="{{ path('offre_edit', {'id': offre.id}) }}">edit</a>#}

{% endblock %}
